# Ignore virtual environment
.venv/

# Ignore Python cache
__pycache__/

# Ignore logs
logs/

# Ignore database files
data/db/

# Ignore raw datasets if large
data/online_retail.csv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/